.signupForm{
    padding-top: 30px;
    width: 50%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signupForm input{
    height: 50px;
}
.signupForm button{
    height: 40px;
}